@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body, div, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    
    font-weight: 100;
  }

body{
   
    margin: 0;
    padding: 0;
    background-color:#D4E6EC;
    font-family: 'Montserrat', sans-serif;
}

  
  .vertical-list {
    list-style: none;
    padding: 0;
  }
  
  .vertical-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    
  }
  
  .vertical-list img {
    max-width: 20px;
  }
  
  .vertical-list h5 {
    margin: 0;
    font-size: 14px;
  }
  

.div1{
    position: fixed;
    height: 96%;
    width: 10%;
    left: 0;
    top: 2%;
    left:2%;
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
border-radius: 10px 0px 0px 10px;
}
.div2{
    width: 86%;
    position: fixed;
    top: 2%;
    left: 12%;
    height: 12%;
    background-color:#E7EBED;
    border-radius: 0px 10px 0px 0px;
}

  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    padding: 10px;
    color: #292929;
  }
  
  .logo {
    font-size: 14px;
    margin-left: 30px;
  }
  
  .nav-items {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-items li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .right-items {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .right-items img {
    max-height: 24px;
  }
  
  .right-items input {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  .right-items h4 {
    margin: 0;
  }
  
.div3{
    position: absolute;
    left: 12%;
    top: 12%;
    width:86%;
    background-color:#E7EBED;
    height: 86%;
    overflow-y: scroll;

    
}

/* Your existing CSS styles go here */

/* Style the dropdown menu */
.dropdown-menu {
    position: relative;
    border: none;
    width: 100px;
  }
  
  .dropdown-menu select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color:transparent;
  }
  option{
    font-size: 26px;
  }
  
  /* Hide the default dropdown arrow */
  .dropdown-menu select::-ms-expand {
    display: none;
  }
  
  .dropdown-menu select::-webkit-appearance {
    display: none;
  }
  
  /* Style the custom dropdown arrow */
  .dropdown-menu select::after {
    content: '\25BC'; /* Unicode character for a downward arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent the arrow from being clickable */
  }
  
.div3::-webkit-scrollbar {
    display: none;
  }

#gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 
    gap: 20px;
    padding: 30px;
    margin: auto;
    
  
  }
  
  .gridItem {
   
    padding: 0px;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  

 
  }
.trash-action-box{
    max-width: 16px;
}
  .action-box-bottom-img{
    max-width: 16px;
}
  
  .square-div {
  
  
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .square-div .top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Full width to have h5 and image on the same line */
  }
  
  .square-div h5 {
    margin: 0;
  }
  
  .square-div img {
    max-height: 40px; /* Adjust the height of the image as needed */
  }
  
  .square-div .bottom-content {
    display: flex;
    justify-content: center;
    align-items: center;
 
       
      width:100%;
        justify-content: space-evenly;
    
  }


  .popup {
    display: none;
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.5);
    left: 12%;
    top: 12%;
    width:86%;
    background-color:#E7EBED;
    height: 86%;
   
    z-index: 100000;
  }
 
  
  .left-section {
    flex: 30%;
    background-color: #fff;
    
  }
  
  .right-section {
    flex: 70%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 1px;
  }
  
  .center-content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    
  }
  
  .center-content h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .center-content input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  .center-content hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
  }
  
  .center-content h6 {
    margin: 0;
  }
  
  .center-content input[type="date"] {
    padding: 8px;
   
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .bottom-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
  
  .bottom-content img {
    max-width: 12px;
    margin: 0 8px;
  }
  .observations-popUp{
    height: 40px;
    overflow: hidden;
    margin: 5px;
  }
  #addObservationInput{
    height: 40px;
  }
  .image-input {
    position: relative;
  }
  
  .image-input input[type="text"] {
    padding: 10px;
  }
  
  .image-input img {
    position: relative;
    top: 5px; /* Adjust the positioning of the image */
    left: 5px; /* Adjust the positioning of the image */
    width: 20px; /* Adjust the size of the image */
    cursor: pointer;
  }
  #action-list-items li{
color: #292929;
width: 200px;
font-size: 12px;


  }
  #action-list-items {
    position: absolute;
    color: #292929;
    overflow: scroll;
    height: 86%;
    left: 2%;
    top:12%;
    
      }