html, body, div, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

body{
   
    margin: 0;
    padding: 0;
    background-color:#D4E6EC;
}

  
  .vertical-list {
    list-style: none;
    padding: 0;
  }
  
  .vertical-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    
  }
  
  .vertical-list img {
    max-width: 25px;
  }
  
  .vertical-list h5 {
    margin: 0;
    font-size: 14px;
  }
  

.div1{
    position: fixed;
    height: 96%;
    width: 10%;
    left: 0;
    top: 2%;
    left:2%;
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
border-radius: 10px 0px 0px 10px;
}
.div2{
    width: 86%;
    position: fixed;
    top: 2%;
    left: 12%;
    height: 10%;
    background-color:#E7EBED;
    border-radius: 0px 10px 0px 0px;
}

  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    color: #292929;
  }
  
  .logo {
    font-size: 14px;
    margin-left: 30px;
  }
  
  .nav-items {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-items li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .right-items {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .right-items img {
    max-height: 24px;
  }
  
  .right-items input {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  .right-items h4 {
    margin: 0;
  }
  
.div3{
    position: absolute;
    left: 12%;
    top: 12%;
    width:86%;
    background-color:#E7EBED;
    height: 86%;
    overflow-y: scroll;

    
}

/* Your existing CSS styles go here */

/* Style the dropdown menu */
.dropdown-menu {
    position: relative;
    border: none;
    width: 100px;
  }
  
  .dropdown-menu select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color:transparent;
  }
  option{
    font-size: 26px;
  }
  
  /* Hide the default dropdown arrow */
  .dropdown-menu select::-ms-expand {
    display: none;
  }
  
  .dropdown-menu select::-webkit-appearance {
    display: none;
  }
  
  /* Style the custom dropdown arrow */
  .dropdown-menu select::after {
    content: '\25BC'; /* Unicode character for a downward arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent the arrow from being clickable */
  }
  
.div3::-webkit-scrollbar {
    display: none;
  }

#gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 
    gap: 20px;
    padding: 30px;
    margin: auto;
    
  
  }
  
  .gridItem {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height:250px;
  }
  